{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <nav class='navbar navbar-expand navbar-light bg-danger'>
        <a href="/home" class="navbar-brand ml-3" style="font-family: 'Maven Pro', sans-serif; font-size: 7vmin;">H<span style='font-size: 6vmin;'>&#128293;</span>tTopics</a>
        <ul class="navbar-nav ml-auto mt-2" style='font-size: 5vmin'>
            <li class="nav-item"><a class="nav-link" style='margin-right: 3vmin;' href="/signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" style='margin-right: 3vmin;' href="/login">Log In</a></li>
        </ul>
    </nav>
    <main>
        <div class="container py-5">
            {% block main %}
        
            {% endblock %} 
        </div>
    </main>
{% endblock %}