{% extends 'layout-index.html' %}

{% block title %}
: Log In
{% endblock %}

{% block main %}
    <div class="mainContainer">
        <div class="p-5">
            <form action="/login" method="post">
                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-12 col-md-6 justify-content-center">
                            <label for="username" style='font-size: 20px;'>Username or Email</label>
                            <input autocomplete="off" autofocus class="form-control" id='username' name="username" placeholder="Username or Email" type="text">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-12 col-md-6 justify-content-center">
                            <label for="username" style='font-size: 20px;'>Password</label>
                            <input autocomplete="off" class="form-control" id='password' name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                <button class="btn btn-primary" type="submit" style='font-size: 2rem;'>Log In</button>
            </form>
        </div>
    </div>
{% endblock %}