body{
    font-family: 'Roboto', sans-serif;
    color:oldlace;
    background-color: var(--background);
}


.mainContainer{
    width: var(--page-width);
    background-color: var(--background);
    border-radius: calc(var(--page-width)*.1);
    margin: calc(var(--page-width)*.05) auto 0;
    border: 1px solid white;
}

.container-form{
    width: 65% !important;
    margin-top: 1% !important;
}

input{
    width: 100%;
}

:root{
    --page-width: 600px;
    --page-width: 600px;
    --background: #181818;
    --second-background: #0f0f0f;
}

@media screen and (max-width: 660px) {
    :root{
        --page-width: 80vw;
    }
}