html{
    height: 100vw;
    overflow: hidden;
    overscroll-behavior: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    min-height: 100%;
    display: grid;
    grid-template-columns: 22% 600px 1fr;
    overflow: hidden;
    overscroll-behavior: none;
}

main{
    position: relative;
    color: oldlace;
    height: 100vh;
    overflow-y: scroll;
}
.noClicks{
    pointer-events: none;
    touch-action: none;
}

:root{
    --page-width: 600px;
    --background: #181818;
    --second-background: #0f0f0f;
}

@media screen and (max-width: 1180px) {
    body{
       grid-template-columns: 10% 600px 1fr; 
    }

}

@media screen and (max-width: 660px) {
    body{
       grid-template-columns: 60px 1fr 0; 
    }
    :root{
        --page-width: calc(100vw - 60px);
    }
}   