.container-form{
    width: 75%;
    margin: 5% auto 0;
    position: relative;
    padding-bottom: calc(var(--page-width)*.1);
}

.form-group{
    margin-bottom: calc(var(--page-width)*0.02);
    position: relative;
}

.form-legend{
    font-size: calc(var(--page-width)*0.07);
    text-align: center;
    margin: 0;
}

.form-text{
    width: 100%;
    height: calc(var(--page-width)*.1);
    border-radius: calc(var(--page-width)*.05);
    color: white;
    font-size: calc(var(--page-width)*.04); 
    border: solid #ddd 1px;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    outline: none;
    background-color: var(--second-background);
    transition: all 0.1s;
}

.form-text:focus{
    transform: scale(0.99); 
    border: solid #ff5c5c 2px;
    box-shadow: 2px 2px 14px #000;
}

.form-label{
    font-size: calc(var(--page-width)*.035);
}

.form-button{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    margin-top: calc(var(--page-width)*.015); 
    left: 50%;
    transform: translateX(-50%);
}

.form-button:hover{
    background-color: #ddd;
    transform: scale(0.99) translateX(-50%);
}

.form-button:active{
    transform: scale(0.99) translateX(-50%);
}
.form-button:focus{
    transform: scale(0.99) translateX(-50%);
}

.back-button{
    position: absolute;
    top: calc(var(--page-width)*.015);
    left: calc(var(--page-width)*.015);
    text-decoration: none !important;
    border: none;
    padding: 0;
    margin: 0;
    outline: none !important;
    border-radius: calc(var(--page-width)*0.05);
    height: calc(var(--page-width)*0.1);
    width: calc(var(--page-width)*0.1);
    font-size: calc(var(--page-width)*0.05);
    background-color: var(--background);
    color: white;
}


.LogOutForm{
    padding: 0;
}

.LogOutButton{
    margin-bottom: calc(var(--page-width)*0.2);
}

.postContentText{
    height: calc(var(--page-width)*0.17);
    resize: none;
}

.addPostChoice{
    position: absolute;
    left: 0;
    background-color: var(--success);
}

.removePostChoice{
    position: absolute;
    right: 0;
    background-color: var(--danger);
}

.addPostChoice, .removePostChoice{
    top: calc(var(--page-width)*-.12); 
    margin-top: calc(var(--page-width)*.015); 
    text-decoration: none !important;
    border: none;
    padding: 0;
    outline: none !important;
    width: calc(var(--page-width)*.16);
    height: calc(var(--page-width)*.08);
    border-radius: calc(var(--page-width)*.04);
    font-size: calc(var(--page-width)*.02); 
}

.addPostChoice:disabled, .removePostChoice:disabled{
    color: rgb(22, 22, 22);
    opacity: 0.5;
}

.add-removeContainer{
    width: 75%;
    margin: auto;
    position: relative;
}

.hiddenPostChoice{
    display: none;
}

@media screen and (max-width: 660px) {
    .form-text{
        height: calc(var(--page-width)*.12);
        border-radius: calc(var(--page-width)*.06);
        font-size: calc(var(--page-width)*.05);  
    }

    .postContentText{
        height: calc(var(--page-width)*0.24);
    }

    .multi-button{
        border-radius: calc(var(--page-width)*0.05);
        height: calc(var(--page-width)*0.1);
        width: calc(var(--page-width)*0.35);
        font-size: calc(var(--page-width)*0.04)
    }

    .addPostChoice, .removePostChoice{
        width: calc(var(--page-width)*.17);
        height: calc(var(--page-width)*.1);
        border-radius: calc(var(--page-width)*.05);
        font-size: calc(var(--page-width)*.025);
        margin-top: calc(var(--page-width)*.015);  
    }

    #LogOutButtonBottom{
        height: 10px;
        width: 10px;
        margin-top: 30vh;
    }
    
}

@media(hover:hover) and (pointer: fine) {  
    .back-button:hover{
        background-color: #333;
    }
}