body{
    font-family: 'Roboto', sans-serif;
    background-color: #222226;
}

main
{
    text-align: center;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

.mainContainer
{
    width: 100%;
    background-color: #ddd;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
}

input
{
    width: 100%;
}