html{
    height: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    min-height: 100%;
    display: grid;
    grid-template-columns: 22% 600px 1fr;
    overflow-x: hidden;
}

main{
    position: relative;
    color: oldlace;
    height: 100%;
}

:root{
    --page-width: 600px;
    --background: #181818;
    --second-background: #0f0f0f;
}

@media screen and (max-width: 1100px) {
    body{
       grid-template-columns: 10% 600px 1fr; 
    }

}

@media screen and (max-width: 660px) {
    body{
       grid-template-columns: 60px 1fr 0; 
    }
    :root{
        --page-width: calc(100vw - 60px);
    }

}