.modal{
    position: absolute;
}

.modal-main{
    background-color: #222222;
    border-radius: calc(var(--page-width)*0.05);
    box-shadow: 6px 6px 15px black;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    width: calc(var(--page-width)*0.65);
    height: calc(var(--page-width)*0.4);
    margin: auto;
}

.modal-dialog{
    margin-top: calc(var(--page-width)*0.20);
    margin-left: auto;
}

.modal-backdrop.show{
    opacity: 0.5 !important;
    filter: contrast(2) !important;
}

.my-modal-header{
    text-align: center;
}

.modal-title{
    font-size: calc(var(--page-width)*0.05);
    margin: auto;
}
.my-modal-body{
    text-align: center;
    color: rgb(139, 139, 139);
    margin: auto;
    font-size: calc(var(--page-width)*0.04);
}

.my-modal-footer{
    text-align: center;
    position: relative;
    align-content: space-around;
}

.modal-button{
    position: absolute;
    text-decoration: none !important;
    border: none;
    padding: 0;
    outline: none !important;
    border-radius: calc(var(--page-width)*0.04);
    height: calc(var(--page-width)*0.08);
    width: calc(var(--page-width)*0.2);
    font-size: calc(var(--page-width)*0.03);
}

.modal-button:hover{
    box-shadow: 1px 1px 10px #000;
}

.modal-button:active {
    transform: scale(0.99);
}

.modal-button-red{
    color: var(--danger);
    background-color: transparent;
    border: 1px solid var(--danger);
}

.modal-button-white{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.modal-button-white:hover{
    color: black;
    background-color: white;
}


.modal-button-blue{
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}

.button-left{
    position: absolute;
    left: calc(var(--page-width)*0.08);
    top: calc(var(--page-width)*0.01);
}

.button-right{
    position: absolute;
    right: calc(var(--page-width)*0.08);
    top: calc(var(--page-width)*0.01);
}

@media screen and (max-width: 660px) {
    .modal-main{
        width: calc(var(--page-width)*0.75);
        height: calc(var(--page-width)*0.5);
    }
    
    
}