.post-container{
    width: 90%;
    margin: 0 auto 4%;
    border: 1px solid #444;
    border-radius: calc(var(--page-width) * 0.05);
    background-color: var(--second-background);
    transition: all .2s .01s
}

.post-container:hover{
    border: solid rgb(255, 92, 92) 1px;
    box-shadow: 0px 0px 3px rgb(255, 124, 124);
}

.main-title{
    font-size: calc(var(--page-width) * 0.1);
    font-weight: 900;
    margin: 2% 0 2% 0%;
    padding-left: 5%;
    user-select: none;
    border-bottom: 1px solid #444;
}

.post-header{
    width: 100%;
    height: calc(var(--page-width)*.1); 
    position: relative;
    margin: 0 auto;
}

.post-username{
    font-size: calc(var(--page-width)*.065);
    position: absolute;
    color: white;
    top: calc(var(--page-width) * 0.01);
    left: calc(var(--page-width) * 0.14);
    font-weight: 900;
    user-select: none;
}

.post-username:hover{
    text-decoration: underline solid #fff;
}

.post-img{
    width: calc(var(--page-width) * 0.11);
    height: calc(var(--page-width) * 0.11);
    position: absolute;
    top: calc(var(--page-width) * 0.015);
    left: calc(var(--page-width) * 0.015);
    user-select: none;
}

.post-img:hover{
    opacity: .8;
}

.post-posted{
    font-size: calc(var(--page-width)*.04);
    color: rgb(112, 115, 121); 
    position: absolute;
    top: calc(var(--page-width) * 0.02);
    right: calc(var(--page-width) * 0.05); 
    user-select: none;
}

.post-content{
    width: calc(var(--page-width)*.705);
    font-size: calc(var(--page-width)*.035);  
    margin: 0 calc(var(--page-width) * 0.05) 0 auto;
}

.post-choices{
    width: 90%;
    margin: 2% auto 0;
}

.post-choice{
    width: 100%;
    height: calc(var(--page-width)*.07);
    margin-bottom: calc(var(--page-width)*.01);
    text-decoration: none !important;
    border: none;
    padding: 0 0 0 5%;
    outline: none !important;
    border-radius: calc(var(--page-width)*0.02);
    background-color: var(--background);
    border: 1px solid #444;
    color: #fff;
    position: relative;
}
.choice-text{
    text-align: left;
    font-size: calc(var(--page-width)*0.03); 
    margin: 0;
    float: left;
    z-index: 100;
}

.post-choice:hover{
    background-color: #222228;
}

.post-choice:active {
    transform: scale(0.99);
}

.post-footer{
    width: 80%;
    height: calc(var(--page-width) * 0.08);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc(var(--page-width)*0.08);
    margin: 0 auto;
    margin-bottom: calc(var(--page-width)*.01);
}

.post-stats{
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: calc(var(--page-width)*0.04);
    padding: 0 calc(var(--page-width)*0.02);
    user-select: none;
}

.post-stats-stat{
    position: relative;
    display: block;
    padding: 0 calc(var(--page-width)*0.01);
    height: calc(var(--page-width)*0.08);
    font-size: calc(var(--page-width)*0.03);
    line-height: calc(var(--page-width)*0.08);
    text-align: start;
    white-space: nowrap;
    margin: 0;
    transition: all 0.25s 0.05s
}

.post-icon{
    font-size: calc(var(--page-width)*.05);
    border-radius: 50%;
    padding: calc(var(--page-width)*.015);
    transition: all 0.25s 0.05s
}

.comment-hover{
    color: rgb(72, 136, 255);
}

.like-hover{
    color: red;
}

.icon-comment-hover{
    background-color: rgba(101, 104, 255, 0.123)
}

.icon-like-hover{
    background-color: #ff000010
}

.post-response{
    font-size: calc(var(--page-width)*0.05)
}

#loadMore{
    visibility:hidden;
}

.choice-percentage{
    position: absolute;
    display: table;
    right: 0;
    top: 0;
    height: 100%;
    color: rgb(177, 177, 177);
    font-size: calc(var(--page-width)*0.025);
    float: right;
    margin: 2% 4% 0 0;
    display: none;
} 

.choice-percentage-bar{
    height: 100%;
    width: 0; 
    position: absolute;
    left: 0;
    top: 0;
    background-color: grey;
    opacity: 0.7;
    overflow: hidden;
    border-radius: calc(var(--page-width)*.018);
    pointer-events: none;
}