#sidebar{
    background-color: var(--background);
    height: 100%;
    width: 100%;
    max-width: 80vw;
    overflow-y: auto;
    z-index: 1;
    display: flexbox;
    border-right: 1px solid #444;
    transition: width 1s;
}
#sidebar ul{
    margin: 40px auto 0 auto;
    padding: 0;
    width: 230px;
}
#sidebar ul li{
    position: relative;
    width: 230px;
    list-style: none;
    border-radius: 30px;
}
.add{
    background-color: var(--red);
}
.add, .avoidtitle{
    transition: opacity .8s ease-out;
}
.add:hover{
    background-color: #ff5062 !important;
}
#sidebar ul li:not(.avoidtitle):hover{
    background-color: #212122;
}

#sidebar ul li a{
    position: relative;
    display: block;
    display: flex;
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: var(--light);
    margin-bottom: 15px;
}
#sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#sidebar ul li a .icon .material-icons{
    font-size: 36px;
    margin-top: 12px;
}
#sidebar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.bigtitle{
    font-family: 'Righteous', cursive; 
    font-size: 40px !important;
}

#navlogo{
    display: none;
}

@media screen and (max-width: 1180px) {
    .add, .avoidtitle{
        opacity: 0;
    }
    #sidebar ul{
        margin-left: calc(10vw - 65px)
    }
    #navlogo{
        position: absolute;
        display: block;
        left: calc(10vw - 65px);
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 40px;
        transition: all 0.5s;
    }
    #titlelogo{
        visibility: hidden;
    }

    .toggleSidebar{
        width: 300px !important;
        transition: all 0.5s;
    }
    
    .toggleTitle{
        opacity: 1;
        transition: opacity .8s ease-in 0.4s;
    }

    .toggleNav{
        margin-left: calc(10vw - 65px);
        
    }

    .toggleLogo{
        transition: all 0.5s;
        left: calc(10vw - 65px + 27px) !important;
    }
}

@media screen and (max-width: 660px) {
    #sidebar ul{
        margin: 40px auto 0 auto;
    }

    #navlogo{
        left: 0;
    }
    .toggleLogo{
        left: 62px !important;
    }

    
    
}