{% extends 'layout-home.html' %}

{% block main %}

    <div class="modal fade" id="unfollowModal" tabindex="-1" role="dialog" aria-labelledby="unfollowModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-main">
                <div class="my-modal-header">
                    <h3 class="modal-title" id="unfollowModalLabel">Unfollow {{ user.username }}?</h3>
                </div>
                <div class="my-modal-body">
                    Are you sure you want to unfollow this account?
                </div>
                <div class="my-modal-footer">
                    <button type="button" class="modal-button modal-button-white button-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="modal-button modal-button-red button-right" value="{{ user.id }}">Unfollow</button>
                </div>
            </div>
        </div>
    </div>

    <div class="account-header">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}">
        <div class="name-contain">
            <h1 class="account-username" ><b>{{ user.username }}</b></h1>
            <h3 class="account-joined" >Joined {{ date_joined }}</h3>
            {% if current_user==user %}
            <a href="{{ url_for('settings')}}">
                <button class="multi-button account-button">
                    Edit account
                </button>
            </a>
            {% elif follow %}
            <button value="{{ user.id }}" type="button" class="multi-button account-following following" data-toggle="modal" data-target="#unfollowModal">
                Following
            </button> 
            {% else %}
            <button value="{{ user.id }}" type="button" class="multi-button account-button follow" data-toggle="modal" data-target="#unfollowModal">
                Follow
            </button> 
            {% endif%}
        </div>

        <div class="account-stats">
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Posts</b>
                </h2>
                <h3 class="stat-number">
                    15
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Votes</b>
                </h2>
                <h3 class="stat-number">
                    0
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Followers</b>
                </h2>
                <h3 class="stat-number">
                    120
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Following</b>
                </h2>
                <h3 class="stat-number">
                    673K
                </h3>
            </div>
        </div>
    </div>
{% endblock %}