{% extends 'layout-home.html' %}

{% block main %}

    <div class="modal fade" id="unfollowModal" tabindex="-1" role="dialog" aria-labelledby="unfollowModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-main modal-content">
                <div class="my-modal-header">
                    <h3 class="modal-title" id="unfollowModalLabel">Unfollow {{ user.username }}?</h3>
                </div>
                <div class="my-modal-body">
                    Are you sure you want to unfollow this account?
                </div>
                <div class="my-modal-footer">
                    <button type="button" class="modal-button modal-button-white button-left" data-dismiss="modal">Cancel</button>
                    <button id="unfollowButton" type="button" class="modal-button modal-button-red button-right" data-dismiss="modal" value="{{ user.id }}">Unfollow</button>
                </div>
            </div>
        </div>
    </div>

    <div class="account-header">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}">
        <div class="name-contain">
            <h1 class="account-username" ><b>{{ user.username }}</b></h1>
            <h3 class="account-joined" >Joined {{ date_joined }}</h3>
            {% if current_user==user %}
            <a href="{{ url_for('settings')}}">
                <button class="multi-button account-button">
                    Edit account
                </button>
            </a>
            {% elif follow %}
            <button id="follow-unfollow" value="{{ user.id }}" type="button" class="multi-button account-following following">
                Following
            </button> 
            {% else %}
            <button id="follow-unfollow" value="{{ user.id }}" type="button" class="multi-button account-button follow">
                Follow
            </button> 
            {% endif%}
        </div>

        <div class="account-stats">
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Posts</b>
                </h2>
                <h3 class="stat-number">
                    15
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Votes</b>
                </h2>
                <h3 class="stat-number">
                    0
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Followers</b>
                </h2>
                <h3 class="stat-number">
                    120
                </h3>
            </div>
            <div class="account-stat">
                <h2 class="stat-title">
                    <b>Following</b>
                </h2>
                <h3 class="stat-number">
                    673K
                </h3>
            </div>
        </div>
    </div>

    <script id="post-template" type="text/x-handlebars-template">
        {% raw %}
            <div id="{{id}}" class="post-container">
                <div class="post-header">
                    <a href="/account/{{author_username}}">
                        <img class="rounded-circle post-img" src="/static/profile_pics/{{author_image}}" alt="profile picture">
                        <h1 class="post-username"><b>{{author_username}}</b></h1>
                    </a>
                    <h3 class="post-posted">{{time_since}}</h3>
                </div>
                <h2 class="post-content">{{content}}</h2>
                <div class="post-choices">
                    <button value=1 class="post-choice">
                        <h4 class='choice-text'>{{choice_1}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    <button value=2 class="post-choice">
                        <h4 class='choice-text'>{{choice_2}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{#if choice_3}}
                    <button value=3 class="post-choice">
                        <h4 class='choice-text'>{{choice_3}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{/if}}
                    {{#if choice_4}}
                    <button value=4 class="post-choice">
                        <h4 class='choice-text'>{{choice_4}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{/if}}
                </div>
                <div class="post-footer">
                    <div class="post-stats post-comment">
                        <span class="icon"><i class="material-icons post-icon">chat_bubble_outline</i></span>
                        <h5 class="post-stats-stat">{{comment_count}}</h5>
                    </div>
                    <div class="post-stats">
                        <span class="icon"><i class="material-icons post-icon">done</i></span>
                        <h5 class="post-stats-stat">{{total_votes}}</h5> 
                    </div>
                    <div class="post-stats post-like">
                        <span class="icon"><i class="material-icons post-icon">favorite{{#unless is_liked}}_border{{/unless}}</i></span>
                        <h5 class="post-stats-stat">{{likes}}</h5>
                    </div>
                </div>
            </div>
        {% endraw %}
    </script>

    <button id="loadMore" class="multi-button">
        Load More
    </button>
{% endblock %}