{% extends 'layout-home.html' %}

{% block main %}
    <form action="" method="POST" class="container-form" autocomplete="off" autofill="off">
        {{ PostForm.hidden_tag() }}
        <fieldset>
            <legend class="form-legend">Create New Post</legend>
            <div class="form-group">
                {{ PostForm.content.label(class="form-label") }}

                {% if PostForm.content.errors %}
                    {{ PostForm.content(class="form-text postContentText is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in PostForm.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div> 
                {% else %}
                    {{ PostForm.content(class="form-text postContentText") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ PostForm.choice_1.label(class="form-label") }}

                {% if PostForm.choice_1.errors %}
                    {{ PostForm.choice_1(class="form-text is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in PostForm.choice_1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ PostForm.choice_1(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ PostForm.choice_2.label(class="form-label") }}

                {% if PostForm.choice_2.errors %}
                    {{ PostForm.choice_2(class="form-text is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in PostForm.choice_2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ PostForm.choice_2(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group hiddenPostChoice postChoice3">
                {{ PostForm.choice_3.label(class="form-label") }}

                {% if PostForm.choice_3.errors %}
                    {{ PostForm.choice_3(class="form-text is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in PostForm.choice_3.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ PostForm.choice_3(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group hiddenPostChoice postChoice4">
                {{ PostForm.choice_4.label(class="form-label") }}

                {% if PostForm.choice_4.errors %}
                    {{ PostForm.choice_4(class="form-text is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in PostForm.choice_4.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ PostForm.choice_4(class="form-text") }}
                {% endif %}
            </div> 
        </fieldset>

        <div class="form-group">
            {{ PostForm.submit(class="multi-button form-button") }}
        </div>  
    </form>
     
    <div class="add-removeContainer">
        <button class="addPostChoice multi-button">Add Choice</button>
        <button class="removePostChoice multi-button">Remove Choice</button>
    </div>
{% endblock %}