{% extends 'layout-home.html' %}

{% block main %}
    <h1 class="main-title">
        {{ title }}
    </h1>
    {% for post in posts %}
        <div class="post-container">
            <div class="post-header">
                <a href="{{ url_for('account', username=post.author.username) }}">
                    <img class="rounded-circle post-img" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}" alt="profile picture">
                    <h1 class="post-username"><b>{{ post.author.username }}</b></h1>
                </a>
                <h3 class="post-posted">{{ post.posted.strftime('%Y-%m-%d')}}</h3>
            </div>
            <h2 class="post-content">{{ post.content }}</h2>
            <div class="post-choices">
                <button class="post-choice">{{ post.choice_1 }}</button>
                <button class="post-choice">{{ post.choice_2 }}</button>
                {% if post.choice_3 %}
                <button class="post-choice">{{ post.choice_3 }}</button>
                {% if post.choice_4 %}
                <button class="post-choice">{{ post.choice_4 }}</button>
                {% endif %}
                {% endif %}
            </div>
            <div class="post-footer">
                <div class="post-stats">
                    <span class="icon"><i style="font-size: calc(var(--page-width)*.05); margin-top: calc(var(--page-width)*.015);" class="material-icons">chat_bubble_outline</i></span>
                    <h5 class="post-stats-stat">10</h5>
                </div>
                <div class="post-stats">
                    <span class="icon"><i style="font-size: calc(var(--page-width)*.05); margin-top: calc(var(--page-width)*.015);" class="material-icons">done</i></span>
                    <h5 class="post-stats-stat">{{post.votes_1 + post.votes_2 + post.votes_3 + post.votes_4}}</h5> 
                </div>
                <div class="post-stats">
                    <span class="icon"><i style="font-size: calc(var(--page-width)*.05); margin-top: calc(var(--page-width)*.015);" class="material-icons">favorite_border</i></span>
                    <h5 class="post-stats-stat">{{post.id}}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}