{% extends 'layout.html' %}

{% block body %}
    <nav class='navbar navbar-expand navbar-light bg-danger'>
        <a href="/" class="navbar-brand ml-3" style="font-family: 'Righteous', cursive; font-size: 7vmin;">H<span style='font-size: 6vmin;'>&#128293;</span>tTopics</a>
        <ul class="navbar-nav ml-auto mt-2" style='font-size: 5vmin'>
            <li class="nav-item"><a class="nav-link" style='margin-right: 3vmin;' href="/signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" style='margin-right: 3vmin;' href="/login">Log In</a></li>
        </ul>
    </nav>
    <main>
        <div class="container py-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block main %}
        
            {% endblock %} 
        </div>
    </main>
{% endblock %}