{% extends 'layout.html' %}

{% block body %}
    <div id="sidebar-container" style='z-index: 100;'>
        <div id='sidebar'>
            <ul>
                <div id='navlogo' class="icon">
                    <span>&#128293;</span>
                </div>
                
                <li class='avoidtitle'>
                    <a href="#">
                        <span class="title bigtitle">H<span id='titlelogo'>&#128293;</span>tTopics</span>
                    </a>
                </li>
                <li>
                    <a href="/home">
                        <span class="icon"><i class="material-icons">home</i></span>
                        <span class='title'>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/following">
                        <span class="icon"><i class="material-icons">people</i></span>
                        <span class='title'>Following</span>
                    </a>
                </li>
                <li>
                    <a href="/favourites">
                        <span class="icon"><i class="material-icons">favorite</i></span>
                        <span class='title'>Favourites</span>
                    </a>
                </li>
                <li>
                    <a href="/search">
                        <span class="icon"><i class="material-icons">search</i></span>
                        <span class='title'>Search</span>
                    </a>
                </li>
                <li>
                    <a href="/account/{{ current_user.username }}">
                        <span class="icon"><i class="material-icons">account_circle</i></span>
                        <span class='title'>Profile</span>
                    </a>
                </li>
                <li class="add">
                    <a href="/create_post">
                        <span class="icon" style="min-width: 50px; height: 50px; line-height: 50px;"><i class="material-icons" style="font-size: 48px; margin-top: 5px; margin-left: 5px;;">add</i></span>
                        <span class='title' style="padding: 0;">Create Post</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main>
        {% block main %}
        
        {% endblock %}
    </main>

    <div id="rightbar">
        <div class="recommendedContainer">
            <h2 class="recommendedTitle"><b>Accounts you might like</b></h2>
            <div class="recommendedUsers"></div>
        </div>
    </div>

    <script id="recommended-template" type="text/x-handlebars-template">
        {% raw %}
            <div id="{{id}}-Recommended" class="recommendedUser">  
                <div class="recommendedPfp-section">
                    <a href="/account/{{username}}">
                        <img src="/static/profile_pics/{{profile_image}}" alt="Profile Picture" class="recommendedPfp">
                    </a>
                </div>
                <div class="recommendedHeader">
                    <a href="/account/{{username}}">
                        <h3 class="recommendedUsername">{{username}}</h3>
                    </a>
                    <h4 class="recommendedFollowers">{{followers}} Followers</h4>
                </div>
                <div class="recommendedFollow">
                    <button class="follow-button recommendedFollowButton follow account-button" value="{{id}}">Follow</button>
                </div>
            </div> 
        {% endraw %}
    </script>
    <div class="modal fade" id="unfollowRecommendedModal" tabindex="-1" role="dialog" aria-labelledby="unfollowRecommendedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-main modal-content">
                <div class="my-modal-header">
                    <h3 class="modal-title" id="unfollowRecommendedModalLabel">Unfollow?</h3>
                </div>
                <div class="my-modal-body">
                    Are you sure you want to unfollow this account?
                </div>
                <div class="my-modal-footer">
                    <button type="button" class="modal-button modal-button-white button-left" data-dismiss="modal">Cancel</button>
                    <button id="unfollowRecommendedButton" type="button" class="modal-button modal-button-red button-right" data-dismiss="modal">Unfollow</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}