{% extends 'layout-home.html' %}

{% block main %}

    <div class="postComment">
        <textarea id="CommentInput" type="text" class="comment-text" autocomplete=off autocapitalize="off"></textarea>
        <button id="commentButton" class="multi-button commentButton">Comment</button>
    </div>

    <div id="commentSection">
        <div class="commentContainer">
            <div class="commentPfp-section">
                <img src="/static/profile_pics/default.jpeg" alt="profile picture" class="commentPfp">
            </div>
            <div class="comment-main">
                <div class="commentHeader">
                    <h3 class="comment-username"><b>DanielZitoli</b></h3>
                    <h4 class="comment-posted">2 weeks ago</h4>
                </div>
                <h5 class="comment-content">Go follow CCMikayla22@tiktok.com, alsokj    hg qwcgqic wc gwcq c  cgwc bkbkbkhfjuwygcuqw cucqwc vcu wcgwc adc</h5>
                <div class="comment-likes">
                    <i class="material-icons comment-heart">favorite_border</i>
                    <h5 class="comment-stats">25.7K</h5>
                </div>
                <i class="deleteComment material-icons">delete</i>
            </div>
        </div>
    </div>

    <button id="loadMore" class="multi-button">
        Load More
    </button>

    <script id="post-template" type="text/x-handlebars-template">
        {% raw %}
            <div id="{{id}}" class="post-container">
                <div class="post-header">
                    <a href="/account/{{author_username}}">
                        <img class="rounded-circle post-img" src="/static/profile_pics/{{author_image}}" alt="profile picture">
                        <h1 class="post-username"><b>{{author_username}}</b></h1>
                    </a>
                    <h3 class="post-posted">{{time_since}}</h3>
                </div>
                <h2 class="post-content">{{content}}</h2>
                <div class="post-choices">
                    <button value=1 class="post-choice">
                        <h4 class='choice-text'>{{choice_1}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    <button value=2 class="post-choice">
                        <h4 class='choice-text'>{{choice_2}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{#if choice_3}}
                    <button value=3 class="post-choice">
                        <h4 class='choice-text'>{{choice_3}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{/if}}
                    {{#if choice_4}}
                    <button value=4 class="post-choice">
                        <h4 class='choice-text'>{{choice_4}}</h4>
                        <div class="choice-percentage-bar"></div>
                        <h5 class="choice-percentage"></h5>
                    </button>
                    {{/if}}
                </div>
                <div class="post-footer">
                    <div class="post-stats post-comment">
                        <span class="icon"><i class="material-icons post-icon">chat_bubble_outline</i></span>
                        <h5 class="post-stats-stat">{{comment_count}}</h5>
                    </div>
                    <div class="post-stats">
                        <span class="icon"><i class="material-icons post-icon">done</i></span>
                        <h5 id="totalVoteCount" class="post-stats-stat">{{total_votes}}</h5> 
                    </div>
                    <div class="post-stats post-like">
                        <span class="icon"><i class="material-icons post-icon">favorite{{#unless is_liked}}_border{{/unless}}</i></span>
                        <h5 class="post-stats-stat">{{likes}}</h5>
                    </div>
                </div>
            </div>
        {% endraw %}
    </script>

    <script id="comment-template" type="text/x-handlebars-template">
        {% raw %}
            <div id="Comment-{{id}}" class="commentContainer">
                <div class="commentPfp-section">
                    <img src="/static/profile_pics/{{author_image}}" alt="profile picture" class="commentPfp">
                </div>
                <div class="comment-main">
                    <div class="commentHeader">
                        <h3 class="comment-username"><b>{{username}}</b></h3>
                        <h4 class="comment-posted">{{posted}}</h4>
                    </div>
                    <h5 class="comment-content">{{content}}</h5>
                </div>
            </div>
        {% endraw %}
    </script>
{% endblock %}