{% extends 'layout-index.html' %}

{% block main %}
    <div class="mainContainer">
        <form action="/login" class="container-form" method="POST" autocomplete="off" autofill="off">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="form-legend">Login</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-text is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-text") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-text is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-text") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="multi-button form-button") }}
            </div> 
        </form>
    </div>
{% endblock %}