{% extends 'layout-home.html' %}

{% block main %}
    <div class="modal fade" id="LogOutModal" tabindex="-1" role="dialog" aria-labelledby="LogOutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-main modal-content">
                <div class="my-modal-header">
                    <h3 class="modal-title" id="LogOutModalLabel">Log Out</h3>
                </div>
                <div class="my-modal-body">
                    Are you sure you want to log out of your account?
                </div>
                <div class="my-modal-footer">
                    <button type="button" class="modal-button modal-button-white" data-dismiss="modal">Cancel</button>
                    {{ LogOutForm.submit(class="modal-button modal-button-red", form="LogOutForm", id="LogOutSubmit") }}
                </div>
            </div>
        </div>
    </div>
    
    <form action="" method="POST" enctype="multipart/form-data" class="container-form" autocomplete="off" autofill="off">
        {{ settingsForm.csrf_token(id="csrfSettings") }}
        <fieldset>
            <legend class="form-legend">Account Info</legend>
            <div class="form-group">
                {{ settingsForm.username.label(class="form-label") }}

                {% if settingsForm.username.errors %}
                    {{ settingsForm.username(class="form-text is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in settingsForm.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ settingsForm.username(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ settingsForm.email.label(class="form-label") }}

                {% if settingsForm.email.errors %}
                    {{ settingsForm.email(class="form-text is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in settingsForm.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ settingsForm.email(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ settingsForm.picture.label(class="form-label") }}
                {{ settingsForm.picture(class="form-control-file") }}

                {% if settingsForm.picture.errors %}
                        {% for error in settingsForm.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ settingsForm.submit(class="multi-button form-button", id="settingsSubmit") }}
        </div> 
    </form>

    <form action="" method="POST" enctype="multipart/form-data" class="container-form" autocomplete="off" autofill="off">
        {{ passwordForm.csrf_token(id="csrfPassword") }}
        <fieldset>
            <legend class="form-legend">Password Change</legend>
            <div class="form-group">
                {{ passwordForm.password.label(class="form-label") }}

                {% if passwordForm.password.errors %}
                    {{ passwordForm.password(class="form-text is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in passwordForm.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ passwordForm.password(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ passwordForm.new_password.label(class="form-label") }}

                {% if passwordForm.new_password.errors %}
                    {{ passwordForm.new_password(class="form-text is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in passwordForm.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ passwordForm.new_password(class="form-text") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ passwordForm.confirm_password.label(class="form-label") }}

                {% if passwordForm.confirm_password.errors %}
                    {{ passwordForm.confirm_password(class="form-text is-invalid", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in passwordForm.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ passwordForm.confirm_password(class="form-text") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ passwordForm.submit(class="multi-button form-button", id="passwordSubmit") }}
        </div> 
    </form>

    <form id="LogOutForm" action="" method="POST" enctype="multipart/form-data" class="container-form LogOutForm" autocomplete="off" autofill="off">
        {{ passwordForm.csrf_token(id="csrfLogOut") }}
        <fieldset>
            <legend class="form-legend">Log Out of Account</legend>
        </fieldset>
    </form>
    <div class="form-group LogOutButton">
        <button class="multi-button form-button">Log Out</button>
    </div>
    <div id="LogOutButtonBottom"></div>

    <a href="/account/{{ current_user.username }}">
        <button class="back-button">
            <span class="icon"><i style="font-size: calc(var(--page-width)*.09); margin-top: calc(var(--page-width)*.005);" class="material-icons">keyboard_backspace</i></span>
        </button>
    </a>
{% endblock %}